
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/notes-6399119_640.webp') no-repeat center / cover;
}

.todo-container {
    max-width: 500px;
    background: #a9c8b7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border: 2px dashed #1e92c4;
    transition: transform 0.3s ease-in-out;

    box-shadow: 5px 5px 10px #5b885e,
        -5px -5px 10px #5b885e;
}



.task-item {
    background: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease-in-out;
}


.low {
    border-left: 5px solid blue;
    background: rgba(70, 38, 200, 0.25);

}

.medium {
    border-left: 5px solid orange;
    background: rgba(229, 132, 20, 0.369);
}

.high {
    border-left: 5px solid red;
    background: rgba(229, 20, 20, 0.406);
}

#task-row {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;

    background: #f8f9fa;
}

#task-row::-webkit-scrollbar {
    width: 8px;
}

#task-row::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#task-row::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#task-row::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.btn-custom {
    background: #28a745;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn-custom:hover {
    background: #218838;
    color: #fff;
}

@media (max-width: 768px) {
    .todo-container {
        width: 90%;
    }
}
